.CompleteProfile {
  .formDefault,
  .formSkills,
  .formInterests {
    justify-content: center;
  }

  .titleInfo {
    display: none;
  }

  .form-header {
    margin-bottom: 40px;

    p {
      font-size: 18px !important;
    }
  }

  .content {
    @media (min-width: 1301px) {
      max-width: 800px !important;
      margin: auto;
    }
  }

  .form-content {
    margin: 70px 0 70px;

    @media (max-width: 577px) {
      margin: 30px 0 0px;
    }
  }

  // .formDefault {
  //   input {
  //     border: 1px solid rgb(204, 204, 204);
  //   }
  // }

  .formSelect {
    padding: 10px 0;
  }
  .form-check-label {
    padding-bottom: 5px;
  }

  #country {
    padding: 10px 0;
  }
}
