@import 'pages/custom.scss';

.auth-form {
  .rightPannel {
    @media (min-width: 1301px) {
      max-width: 600px !important;
      margin: auto;
    }

    @media (max-width: 1300px) {
      padding: 15px 3rem !important;
      width: 100%;
    }

    @media (max-width: 1100px) {
      padding: 15px 4rem !important;
    }

    @media (max-width: 991px) {
      padding: 15px 5rem !important;
    }

    @media (max-width: 481px) {
      padding: 15px 1rem !important;
    }

    .alert button {
      margin: 0 0 8px;
    }
  }

  .form-content {
    .form-header {
      h2 {
        color: $gray-dark;
        font-size: 38px;
        text-align: center;
      }

      p {
        color: $gray-dark;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
        // padding: 20px 0 0;
      }
    }

    .form-check-input {
      height: 17px;
      width: 17px;
      border: 2px solid $lightgray;
    }

    .form-check-label {
      span {
        padding: 0.2rem 0rem;
        display: inline-block !important;
      }
    }

    button[type='submit'] {
      width: auto;
      margin: 25px auto 0;
      padding: 10px 20px;
      font-weight: bold;
    }

    input {
      height: 60px;
      border: 2px solid $lightgray;
    }
  }

  .rowPwd {
    padding-top: 10px;
    margin-left: 0px !important;

    a {
      color: #7f8fa4 !important;
      font-size: 16px;
      border: 0;

      &:hover {
        color: #7f8fa4;
        text-decoration: underline;
      }
    }
  }

  .goToSignUp {
    text-align: center;
    width: 100%;
    padding: 0px 0 25px;

    &.signup {
      text-align: left;
    }

    &--signup {
      display: inline-block !important;
    }

    a {
      padding-left: 5px;
    }
  }

  .accept {
    // text-align: center;
    width: 100%;
    line-height: 15px !important;
    margin: 10px 0 5px;

    &.signup {
      text-align: left;
    }

    &--signup {
      display: inline-block !important;
    }

    a {
      padding: 0px !important;
    }

    label {
      line-height: 20px;
      padding-bottom: 0;
    }
  }

  .form-message {
    margin: auto;
    text-align: center;

    img {
      max-width: 400px;
      width: 100%;
      margin: auto;
    }
  }

  .signIn .mail-sent.alert {
    display: none;
  }
}
