@import 'pages/custom.scss';

.AlgoliaResultsPages {
  button {
    &:hover {
      opacity: 0.95;
    }
  }

  [class^='ais-'] {
    box-sizing: border-box;
    font-size: 0.9rem;
  }

  a[class^='ais-'] {
    color: #21243d;
    text-decoration: none;
  }

  /*
	  We need to target the root element because Angular InstantSearch
	  creates web components which are not targetable with the `*` selector.
	*/
  [class^='ais-'][class$='--disabled'],
  /*
	  We need to target all elements for widgets containing
	  multiple sub elements (e.g. RangeSlider)
	*/
  [class^='ais-'][class$='--disabled'] * {
    cursor: not-allowed;
  }

  .ais-Breadcrumb,
  .ais-ClearRefinements,
  .ais-CurrentRefinements,
  .ais-ClearRefinements-button,
  .ais-GeoSearch,
  .ais-HierarchicalMenu,
  .ais-Hits,
  .ais-Results,
  .ais-HitsPerPage,
  .ais-ResultsPerPage,
  .ais-InfiniteHits,
  .ais-InfiniteResults,
  .ais-Menu,
  .ais-MenuSelect,
  .ais-NumericMenu,
  .ais-NumericSelector,
  .ais-Pagination,
  .ais-Panel,
  .ais-PoweredBy,
  .ais-RangeInput,
  .ais-RangeSlider,
  .ais-RatingMenu,
  .ais-RefinementList,
  .ais-SearchBox,
  .ais-SortBy,
  .ais-SortBy-select,
  .ais-HitsPerPage-select,
  .ais-Stats,
  .ais-ToggleRefinement {
    color: #21243d;
    font-size: 0.75rem;
  }

  /* Highlighting */

  .ais-Highlight-highlighted,
  .ais-Snippet-highlighted {
    background: #2987cd;
  }

  /* Hits */

  @media (max-width: 992px) {
    .ais-InstantSearch__root .container {
      max-width: 100% !important;
      padding: 0 25px;
    }
  }

  @media (max-width: 899px) {
    .ais-Hits {
      margin-top: 30px;
    }
  }

  .ais-Hits-list {
    list-style: none !important;
    padding-inline-start: 0;
  }

  .ais-Pagination-list {
    display: flex;
  }

  .ais-RefinementList-list {
    list-style: none !important;
    padding: 0;
    margin-bottom: 0px;
  }

  .ais-Pagination--noRefinement {
    display: none;
  }

  .ais-InstantSearch__root .container-results {
    width: 100%;
  }

  @media (max-width: 899px) {
    .filtering .container-filters-footer {
      left: 0;
      margin: 0 !important;
    }
  }

  .ais-SearchBox-reset,
  .ais-SearchBox-loadingIndicator,
  .ais-SearchBox-submit,
  .ais-ClearRefinements-button {
    background: transparent;
    border: none;
  }

  /* Menus */

  .ais-RefinementList-item,
  .ais-Menu-item,
  .ais-HierarchicalMenu-item,
  .ais-RatingMenu-item {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .ais-RefinementList-item,
  /*
	 The refinement list item in InstantSearch.js contains a wrapping `div` because of
	 the template behavior. We therefore need to apply the styles to all the elements
	 in a refinement list.
	*/
  .ais-RefinementList-item *,
  .ais-RatingMenu-item {
    cursor: pointer;
  }

  .ais-HierarchicalMenu-link,
  .ais-RatingMenu-item,
  .ais-RefinementList-item {
    padding-bottom: 1rem;
  }

  .ais-Breadcrumb-item--selected,
  .ais-HierarchicalMenu-item--selected,
  .ais-Menu-item--selected {
    font-weight: bold;
  }

  .ais-RatingMenu-starIcon--full {
    fill: #2987cd;
  }

  .ais-RatingMenu-starIcon--empty {
    fill: rgba(0, 0, 0, 0.08);
  }

  /* Panel */

  .ais-Panel--collapsible {
    position: relative;
  }

  .ais-Panel--collapsed .ais-Panel-body,
  .ais-Panel--collapsed .ais-Panel-footer {
    display: none;
  }

  .ais-Panel-collapseButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    position: absolute;
    right: 0;
  }

  .ais-Panel-header {
    border: none;
    color: #21243d;
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 0.08rem;
    line-height: 1.6;
    padding-bottom: 1rem;
    text-transform: uppercase;
  }

  /* Search box */

  .ais-SearchBox-form {
    position: relative;
  }

  .ais-SearchBox-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: rgba(65, 66, 71, 0.06);
    border: none;
    border-radius: 3px;
    color: rgba(33, 36, 61, 0.8);
    font-family: inherit;
    min-height: 54px;
    padding-left: 56px;
    width: 100%;
    font-size: 18px;
  }

  .ais-SearchBox-input::placeholder {
    color: rgba(33, 36, 61, 0.5);
    opacity: 1;
    /* Firefox */
  }

  .ais-SearchBox-input:-ms-input-placeholder {
    color: rgba(33, 36, 61, 0.5);
  }

  .ais-SearchBox-input::-ms-input-placeholder {
    color: rgba(33, 36, 61, 0.5);
  }

  .ais-SearchBox-reset,
  .ais-SearchBox-loadingIndicator,
  .ais-SearchBox-submit {
    align-items: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: flex;
    height: 100%;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 48px;
  }

  .ais-SearchBox-reset[hidden],
  .ais-SearchBox-loadingIndicator[hidden] {
    display: none;
  }

  .ais-SearchBox-submit {
    left: 0;
  }

  .ais-SearchBox-reset,
  .ais-SearchBox-loadingIndicator {
    right: 0;
    // background: inherit;
  }

  .ais-SearchBox-resetIcon {
    height: 10px;
    width: 10px;
  }

  /* SFFV search box */

  .ais-RefinementList .ais-SearchBox-input {
    border-radius: 3px;
    color: rgba(33, 36, 61, 0.8);
    font-size: 0.8rem;
    min-height: 40px;
    padding: 0 44px;
  }

  .ais-RefinementList .ais-SearchBox-form {
    margin-bottom: 1rem;
  }

  /* Menus */

  .ais-HierarchicalMenu-link,
  .ais-RatingMenu-link,
  .ais-RefinementList-label {
    align-items: center;
    display: flex;
  }

  .ais-RefinementList-label {
    margin-bottom: 0.5rem;
  }
  .ais-RefinementList-labelText::first-letter {
    text-transform: uppercase;
  }

  .ais-RefinementList-checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: rgba(65, 66, 71, 0.08);
    border: none;
    border-radius: 2px;
    height: 1rem;
    margin: 0;
    margin-right: 1rem;
    position: relative;
    width: 1rem;
  }

  .ais-RefinementList-item--selected {
    font-weight: bold;
  }

  .ais-RefinementList-item--selected .ais-RefinementList-checkbox {
    background-color: #2987cd;
  }

  .ais-RefinementList-item--selected .ais-RefinementList-checkbox::after {
    background-color: #fff;
    border-radius: 4px;
    content: '';
    height: 4px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-2px) translateY(-2px);
    width: 4px;
  }

  .ais-HierarchicalMenu-count,
  .ais-Menu-count,
  .ais-RefinementList-count,
  .ais-ToggleRefinement-count,
  .ais-RatingMenu-count {
    align-items: center;
    background-color: rgba(65, 66, 71, 0.08);
    border-radius: 4px;
    color: rgba(33, 36, 61, 0.8);
    display: flex;
    font-size: 0.64rem;
    font-weight: 600;
    letter-spacing: 1.1px;
    margin-left: 8px;
    padding: 0 4px;
  }

  .ais-HierarchicalMenu-showMore,
  .ais-Menu-showMore,
  .ais-RefinementList-showMore {
    // margin-top: 1rem;
    color: $primary;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid;
    border-color: $primary;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
      box-shadow 0.15s ease-in-out;

    &--disabled {
      opacity: 0.5;

      &:hover {
        opacity: 0.5;
      }
    }
  }

  .ais-HierarchicalMenu-list {
    font-weight: normal;
  }

  .ais-HierarchicalMenu-link::before {
    align-items: center;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cpath fill='%2390919E' fill-rule='nonzero' d='M0 4l4-4 4 4z'/%3E%3C/svg%3E%0A");
    display: flex;
    height: 8px;
    justify-content: center;
    margin-right: 1rem;
    width: 8px;
  }

  .ais-HierarchicalMenu-item--selected .ais-HierarchicalMenu-link::before {
    transform: rotate(180deg);
  }

  .ais-HierarchicalMenu-item--selected
    .ais-HierarchicalMenu-item:not(.ais-HierarchicalMenu-item--selected)
    .ais-HierarchicalMenu-link::before {
    transform: rotate(0);
  }

  /* ClearRefinements */

  .ais-ClearRefinements,
  .ais-ClearRefinements-button {
    color: rgba(33, 36, 61, 0.7);
  }

  .ais-ClearRefinements-button--disabled {
    color: rgba(33, 36, 61, 0.5);
    display: none;
  }

  /* ToggleRefinement */

  .ais-ToggleRefinement-label {
    cursor: pointer;
    // display: flex;
  }

  .ais-ToggleRefinement-checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: rgba(65, 66, 71, 0.08);
    border: none;
    border-radius: 12px;
    cursor: pointer;
    height: 20px;
    // margin-right: 16px;
    min-width: 39px;
    transition: background 150ms ease-out;
  }

  .ais-ToggleRefinement-checkbox:checked {
    background: #2987cd;
  }

  .ais-ToggleRefinement-checkbox::after {
    background-image: linear-gradient(to top, #f5f5fa, #fff);
    border-radius: 100%;
    box-shadow: 0 4px 11px 0 rgba(37, 44, 97, 0.15), 0 2px 3px 0 rgba(93, 100, 148, 0.2);
    content: '';
    height: 20px;
    position: absolute;
    transition: transform 150ms ease-out;
    width: 20px;
  }

  .ais-ToggleRefinement-checkbox:checked::after {
    transform: translateX(100%);
  }

  /* Selectors */

  .ais-SortBy,
  .ais-HitsPerPage {
    // position: relative;
    // border:1px solid lightgray;
    display: block;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    // padding: .6em 1.4em .5em .8em;
    // width: 100%;
    // max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
    border-radius: 0.5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right 0.7em top 50%, 0 0;
    background-size: 0.65em auto, 100%;

    select {
      padding: 10px 23px 10px 10px;
      min-width: 100px;
      cursor: pointer;
      font-size: 15.5px;

      @media (max-width: 480px) {
        font-size: 15px;
      }
    }

    &:hover {
      opacity: 0.9;
    }
  }

  .ais-SortBy-select,
  .ais-HitsPerPage-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    border: none;
    color: #21243d;
    font-family: inherit;
  }

  /* Sliders */

  .ais-RangeSlider .rheostat-horizontal {
    cursor: pointer;
    width: calc(100% - 10px);
  }

  .ais-RangeSlider .rheostat-background {
    background-color: rgba(65, 66, 71, 0.08);
    border: none;
    border-radius: 3px;
    height: 3px;
  }

  .ais-RangeSlider .rheostat-progress {
    background-color: #2987cd;
    border-radius: 3px;
    height: 3px;
    top: 0;
  }

  .ais-RangeSlider .rheostat-tooltip {
    font-weight: bold;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .ais-RangeSlider .rheostat-handle {
    background-image: linear-gradient(to top, #f5f5fa, #fff);
    border: none;
    box-shadow: 0 4px 11px 0 rgba(37, 44, 97, 0.15), 0 2px 3px 0 rgba(93, 100, 148, 0.2);
    margin-left: -5px;
    top: -9px;
  }

  .ais-RangeSlider .rheostat-marker {
    background-color: rgba(65, 66, 71, 0.08);
  }

  /* RangeInput */

  .ais-RangeInput-input {
    background: none;
    border: none;
    border-bottom: 1px solid #ebecf3;
    color: #21243d;
    font-family: inherit;
    font-size: 0.875rem;
    font-weight: 600;
    min-width: none;
    padding: 0;
    padding-bottom: 3px;
  }

  .ais-RangeInput-label:first-of-type {
    margin-right: 6px;
  }

  .ais-RangeInput-label:last-of-type {
    margin-left: 6px;
  }

  /* Pagination */

  .ais-Pagination-list {
    justify-content: center;
  }

  .ais-Pagination-item,
  .ais-Pagination-link {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .ais-Pagination-item {
    height: 38px;
    width: 38px;
  }

  .ais-Pagination-item {
    background-color: rgba(65, 66, 71, 0.08);
    border-radius: 4px;
    color: #414247;
  }

  .ais-Pagination-item--selected {
    background-color: #2987cd;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.34), rgba(255, 255, 255, 0));
    font-weight: bold;
  }

  .ais-Pagination-item--firstPage,
  .ais-Pagination-item--previousPage,
  .ais-Pagination-item--nextPage,
  .ais-Pagination-item--lastPage {
    background: none;
  }

  .ais-Pagination-item--disabled {
    opacity: 0.33;
  }

  .ais-Pagination-item--selected a {
    color: #fff;
  }

  .ais-Pagination-item.ais-Pagination-item--page {
    margin-right: 4px;
  }

  .ais-Pagination-item.ais-Pagination-item--previousPage {
    margin-right: 1rem;
  }

  .ais-Pagination-item.ais-Pagination-item--nextPage {
    margin-left: calc(1rem - 4px);
  }

  .ais-Pagination-link {
    height: 100%;
    width: 100%;
  }

  input[type='search']::-webkit-search-decoration,
  input[type='search']::-webkit-search-cancel-button,
  input[type='search']::-webkit-search-results-button,
  input[type='search']::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }

  /* MAIN STYLE */

  .container {
    padding-top: 0px !important;
  }

  /* Header */

  .header {
    align-items: center;
    // background-image: url('https://igem-bielefeld.de/localmedia/igem2017/Homepage/Presse_Partner_Projekt/igem2.jpg');
    background-position: center;
    background-size: cover;
    color: black;
    // color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // min-height: 200px;
    // padding: 0.5rem 1rem;
    text-align: center;
    position: relative;
    align-items: flex-start;

    h1 {
      color: #343a40;
      font-size: 26px;
      line-height: 36px;

      @media (max-width: 899px) {
        padding-bottom: 20px;
      }
    }

    .ais-SearchBox {
      @media (min-width: 900px) {
        display: none;
      }
    }
  }

  // .header:after {
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   bottom: 0;
  //   left: 0;
  //   right: 0;
  //   display: block;
  //   background-color: rgba(0, 0, 0, 0.3);
  // }

  .header > * {
    z-index: 1;
  }

  .header-logo {
    margin: 0;
  }

  .header-logo svg {
    height: 24px;
    width: 92px;
  }

  .header-title {
    font-size: 38px;
    font-weight: 300;
  }

  /* Containers */

  .container {
    display: flex;
    // margin: 0 auto;
    // max-width: 1300px;
    // padding: 2rem 1rem;
  }

  .container-filters {
    flex: 1;
    margin-right: 10px;
    max-width: 260px;

    .filters {
      color: #21243d;
      font-weight: bold;
      font-size: 18px;
      margin: 0;
    }
  }

  .container-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    min-height: 80px;

    @media (max-width: 899px) {
      min-height: 65px;
    }
  }

  .container-wrapper {
    @media (min-width: 900px) {
      width: 280px;
    }
  }

  .container-results {
    flex: 3 1;

    .ais-SearchBox {
      width: 430px;
      margin-right: 20px;

      @media (max-width: 1100px) {
        width: 100%;
      }

      @media (max-width: 899px) {
        display: none;
      }
    }

    .ais-SearchBox .ais-SearchBox-input::placeholder {
      color: rgba(33, 36, 61, 0.5);
      opacity: 1;
      /* Firefox */
    }
  }

  .container-options {
    border-bottom: 1px solid #ebecf3;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin: 0 0 30px !important;
    padding: 0;

    @media (max-width: 639px) {
      margin: 5px 0 0 !important;
      min-height: auto;
      padding-bottom: 10px !important;
      flex-wrap: wrap;
    }
  }

  .ais-SortBy {
    margin-right: 20px;

    @media (max-width: 480px) {
      margin-right: 15px;
    }
  }

  .container-option {
    cursor: pointer;

    @media (max-width: 480px) {
      margin-bottom: 10px;
    }
  }

  .container-footer {
    margin: 4rem 0;
  }

  /* Styles the SFFV highlightings */

  em {
    font-style: normal;
  }

  em,
  mark {
    background: rgba(226, 164, 0, 0.4);
  }

  /* Clear refinements container */

  .clear-filters {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 16px;
  }

  .clear-filters svg {
    margin-right: 8px;
  }

  /* Panel */

  .container-body .ais-Panel {
    border-top: 1px solid #ebecf3;
    padding-bottom: 1rem;
    padding-top: 1.5rem;
  }

  .ais-Panel-header {
    // font-family: Hind, sans-serif;
  }

  /* Search box */

  .ais-SearchBox-input:-ms-input-placeholder {
    color: rgba(33, 36, 61, 0.24);
  }

  .ais-SearchBox-input::-ms-input-placeholder {
    color: rgba(33, 36, 61, 0.24);
  }

  .ais-SearchBox-submit {
    color: #2987cd;
  }

  .ais-RefinementList .ais-SearchBox-input {
    // font-family: Hind, sans-serif;
    /*
	    The "Hind" font family is vertically off-balance.
	    Adding some padding top makes it more vertically aligned.
	  */
    padding-top: 2px;
  }

  /* Hits */

  .hit {
    color: #21243d;
    font-size: 14px;
    line-height: 18px;
  }

  .hit h1 {
    font-size: 14px;
  }

  .hit-category {
    color: #21243d;
    font-size: 12px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 8px;
    opacity: 0.7;
    text-transform: uppercase;
  }

  .hit-description {
    margin-top: 2px;
  }

  .hit-info-container {
    overflow-wrap: break-word;
    word-break: break-word;
  }

  .hit-image-container {
    align-items: center;
    display: flex;
    height: 174px;
    justify-content: center;
    margin: auto;
    width: 174px;
  }

  .hit-image {
    height: auto;
    max-height: 100%;
    max-width: 100%;
  }

  .hit-em {
    color: #2987cd;
    font-size: 11px;
    font-weight: 600;
  }

  .hit-rating {
    border: 1px solid rgba(226, 164, 0, 0.5);
    border-radius: 4px;
    margin-left: 4px;
    padding: 0 4px;
  }

  .hits-empty-state {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 300px;
  }

  .hits-empty-state-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0;
    text-align: center;
  }

  .hits-empty-state-description {
    color: rgba(35, 37, 51, 0.6);
    font-size: 0.875rem;
    text-align: center;
  }

  .hits-empty-state .ais-ClearRefinements {
    margin-top: 1rem;
  }

  .hits-empty-state .ais-ClearRefinements-button--disabled {
    display: none;
  }

  .hits-empty-state .ais-ClearRefinements-button {
    background: rgba(10, 8, 41, 0.04);
    border-radius: 3px;
    color: #21243d;
    min-height: 48px;
    padding: 16px 24px;
  }

  /* ToggleRefinement */

  .ais-ToggleRefinement-label {
    // display: flex;
    // flex-direction: row-reverse;
    // justify-content: space-between;
    &Text {
      display: none;
    }
  }

  .ais-ToggleRefinement-checkbox {
    font: inherit;
    margin-left: 2rem;
    margin-right: 0;
    position: relative;
  }

  .ais-ToggleRefinement-checkbox:checked::before {
    color: #2987cd;
    // content: 'Yes';
  }

  .ais-ToggleRefinement-checkbox::before {
    align-items: center;
    color: rgba(33, 36, 61, 0.42);
    // content: 'No';
    display: flex;
    font-size: 17px;
    height: 16px;
    position: absolute;
    right: 46px;
  }

  .ais-ToggleRefinement-count {
    display: none;
  }

  /* RatingMenu */

  .ais-RatingMenu-item:not(.ais-RatingMenu-item--selected) {
    opacity: 0.5;
  }

  .ais-RatingMenu-starIcon {
    margin-right: 0.5rem;
  }

  /* Hide all mobile-specific design on desktop */

  @media (min-width: 900px) {
    [data-layout='mobile'] {
      display: none;
    }
  }

  /* MOBILE STYLE */

  @media (max-width: 899px) {
    /* Filters overlay */

    .container-filters {
      background: #fff;
      border-radius: 16px;
      left: 0;
      max-width: initial;
      // padding-bottom: 4rem;
      padding-bottom: 100vh;
      position: fixed;
      top: 0;
      transform: translateY(120vh);
      transition: transform 300ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
      width: 100%;
      will-change: transform;
      z-index: 1;
    }

    .container-filters .container-header,
    .container-filters .container-body {
      padding: 1rem 1.2rem 0;
    }

    .container-filters .container-body {
      padding-top: 0rem;
    }

    &.filtering .header {
      cursor: pointer;
    }

    &.filtering .header-logo {
      left: 50%;
      pointer-events: none;
      position: absolute;
      top: 1.5rem;
      transform: translateX(-50%);
    }

    &.filtering .header-title {
      display: none;
    }

    &.filtering .container-results,
    .container-filters-footer {
      display: none;
    }

    &.filtering .container-filters {
      position: absolute;
      transform: translateY(4rem);
    }

    &.filtering .container-filters-footer {
      background-color: #fff;
      border-top: 1px solid #ebecf3;
      bottom: 0;
      display: flex;
      justify-content: space-between;
      // margin: 0 -2rem;
      margin: 0 -13px;
      padding: 1rem;
      position: fixed;
      width: 100%;
      z-index: 10000000000;
      /* avoid collision with chat widget */
    }

    .container-filters-footer-button-wrapper {
      width: calc(50% - 0.5rem);
    }

    .container-filters-footer .ais-ClearRefinements-button,
    .container-filters-footer .button {
      background-color: rgba(65, 66, 71, 0.08);
      border: none;
      border-radius: 8px;
      cursor: pointer;
      display: flex;
      font: inherit;
      font-size: 0.75rem;
      font-weight: bold;
      justify-content: center;
      padding: 12px;
      text-align: center;
      width: 100%;
    }

    .container-filters-footer .button-primary {
      background-color: #2987cd;
      color: #fff;
    }

    /* Filters button that triggers the overlay */

    &.filtering .filters-button {
      display: none;
    }

    .filters-button {
      align-items: center;
      background-color: #2987cd;
      border: none;
      border-radius: 8px;
      bottom: 2rem;
      box-shadow: 0 4px 22px 0 rgba(65, 66, 71, 0.5);
      color: #fff;
      cursor: pointer;
      display: flex;
      font: inherit;
      font-size: 0.875rem;
      font-weight: bold;
      justify-content: center;
      left: 50%;
      min-height: 40px;
      min-width: 112px;
      position: fixed;
      transform: translateX(-50%);
      z-index: 2;

      &.sticky {
        transform: none;
        position: inherit;
        margin: auto !important;
      }

      svg {
        height: 14px;
        margin-right: 8px;
        width: 16px;
      }
    }

    .container {
      padding: 4rem 2rem;
    }

    .container-options {
      // display: none;
    }

    .header {
      // background-image: url('https://igem-bielefeld.de/localmedia/igem2017/Homepage/Presse_Partner_Projekt/igem2.jpg');
      background-position: bottom;
      background-size: cover;
      // min-height: 130px;
      position: relative;
      transition: transform 200ms ease-out;
    }

    /* SearchBox */

    .header .ais-SearchBox {
      // bottom: 0;
      // left: 0;
      // position: absolute;
      // transform: translateY(50%);
      // width: 100vw;
      width: 100%;
    }

    .header .ais-SearchBox .ais-SearchBox-form {
      margin: auto;
      // max-width: 90%;
      max-width: 100%;
    }

    /* clears the 'X' from Internet Explorer */
    input[type='search']::-ms-clear {
      display: none;
      width: 0;
      height: 0;
    }

    input[type='search']::-ms-reveal {
      display: none;
      width: 0;
      height: 0;
    }

    /* clears the 'X' from Chrome */
    input[type='search']::-webkit-search-decoration,
    input[type='search']::-webkit-search-cancel-button,
    input[type='search']::-webkit-search-results-button,
    input[type='search']::-webkit-search-results-decoration {
      display: none;
    }

    .ais-SearchBox .ais-SearchBox-input,
    .ais-RefinementList .ais-SearchBox-input {
      font-size: 18px;
    }

    .header .ais-SearchBox .ais-SearchBox-input {
      background-color: #fff;
      box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
    }

    .ais-RefinementList .ais-SearchBox-input {
      min-height: 48px;
    }

    /* RefinementList */

    .ais-RefinementList-list {
      display: grid;
      // grid-auto-flow: column;
      grid-gap: 0 2rem;
      // grid-template-rows: repeat(5, 1fr);
      grid-template-columns: 1fr 1fr;
    }

    .ais-RefinementList-item {
      flex: 50%;
    }

    .ais-RefinementList-checkbox {
      height: 1.5rem;
      min-width: 1.5rem;
    }

    .ais-RefinementList-item--selected .ais-RefinementList-checkbox::after {
      align-items: center;
      background: none;
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='12' height='9'%3E%3Cdefs%3E%3Cpath id='a' d='M0 0h24v24H0z'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd' transform='translate(-6 -8)'%3E%3Cmask id='b' fill='%23fff'%3E%3Cuse xlink:href='%23a'/%3E%3C/mask%3E%3Cpath fill='%23fff' fill-rule='nonzero' d='M16.5 8.5L18 10l-6.99 7-4.51-4.5L8 11l3.01 3z' mask='url(%23b)'/%3E%3C/g%3E%3C/svg%3E");
      display: flex;
      height: 100%;
      justify-content: center;
      left: initial;
      position: relative;
      top: initial;
      transform: initial;
      width: initial;
    }

    /* HierarchicalMenu */

    .ais-HierarchicalMenu-link::before {
      background-color: rgba(65, 66, 71, 0.08);
      border-radius: 50%;
      padding: 8px;
    }

    /* ToggleRefinement */

    .ais-ToggleRefinement-checkbox {
      min-width: 47px;
      position: relative;
    }

    .ais-ToggleRefinement-checkbox {
      margin-left: 34px;
    }

    .ais-ToggleRefinement-checkbox::after {
      height: 1.5rem;
      top: -3px;
      width: 1.5rem;
    }

    .ais-ToggleRefinement-checkbox::before {
      right: 54px;
    }

    /* RatingMenu */

    .ais-RatingMenu-starIcon {
      height: 1.5rem;
      margin-right: 1rem;
      width: 1.5rem;
    }

    /* Hits */

    .ais-Hits-list {
      grid-gap: 1rem;
    }

    .hit {
      display: flex;
    }

    .hit-image-container {
      flex: 1;
      margin-right: 2rem;
    }

    .hit-info-container {
      flex: 2;
    }

    .hits-empty-state-image {
      display: none;
    }

    /* Hide all desktop-specific design on mobile */

    [data-layout='desktop'] {
      display: none;
    }
  }
}
