@import 'pages/custom.scss';

body {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  max-width: 1280px;
  margin: 90px auto 150px;
  @media (max-width: 64em) {
    margin: 80px auto 120px;
  }
}

.small-top-margin {
  max-width: 1280px;
  margin: 65px auto 150px;
  @media (max-width: 64em) {
    margin: 65px auto 120px;
  }
}

.no-margin {
  margin-top: 65px;
}

// @font-face {
//   font-family: 'Bebas Kai';
//   src: url('/fonts/BebasKai.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
// }

button {
  border: none;
  background: none;
}

// add style for when focusing on all elements
*:focus {
  outline: #08f auto 2px !important;
}
// When mouse is detected, remove outline from ALL focused elements.
body.using-mouse *:focus {
  outline: none !important;
  box-shadow: none !important;
}

[data-reach-menu-item] {
  @media (max-width: 1024px) {
    padding: 12px 14px !important;
  }
}

.skip-links {
  transform: translateY(-200%);
  outline: #08f auto 3px !important;
  position: absolute;
  padding: 1rem;
  top: 10px;
  background: #fff;
  font-weight: 700;
  z-index: 1;
}

.skip-links:focus-within {
  transform: translateY(0%);
}

.solid-tooltip {
  max-width: 80vw;
  @media (min-width: 981px) {
    width: 450px;
  }
  background: black;
  color: white;
  opacity: 1 !important;
  pointer-events: auto !important;
  &:hover {
    visibility: visible !important;
  }
}

.list-filter .btn {
  margin: 0px;
}

.form-check,
.form-check label {
  cursor: pointer;
}
.form-check.disabled label,
.form-check.disabled input {
  cursor: not-allowed !important;
}

.btnZone {
  margin-top: 15px;
}

// for Filter.js
.list-filter {
  .dropdown-item {
    cursor: pointer;

    &.active,
    &:hover {
      background: $primary;
      color: white;
    }
  }
}

[data-reach-menu] {
  z-index: 10;
}

// for some reason, some tooltips don't apply style, so we have to force this style to them
.forceTooltipBg {
  background: black;
  color: white;
}

.swal2-container.swal2-bottom-start {
  bottom: 20px !important;
  left: 20px !important;
}
.swal2-popup.swal2-toast {
  box-shadow: 0 0 0.625em #272727 !important;
}
.animate-spin {
  animation: spin 0.7s linear infinite;

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
.animate-bounce {
  animation: bounce 1s infinite;

  @keyframes bounce {
    0%,
    100% {
      transform: translateY(-25%);
      animationtimingfunction: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateY(0);
      animationtimingfunction: cubic-bezier(0, 0, 0.2, 1);
    }
  }
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  @keyframes pulse {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0.75;
    }
  }
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (prefers-reduced-motion: no-preference) {
  .slide-down[data-reach-disclosure-panel] {
    animation: slide-down 0.2s ease;
  }
}

// Styling of the onboarding process: introJs
.customTooltip {
  background-color: #fff;
  color: $primary;
  width: 350px;
  min-width: none;
  max-width: none;
  @media (max-width: 640px) {
    max-width: 60vw !important; // cannot be less, introjs automatically resize so it is not too thin/vertically long
    margin: 1rem; // cannot be more or the tooltip will not point totally correctly at the element anymore
  }
  > .introjs-tooltip-header {
    color: #fff;
    padding: 0;
    > a.introjs-skipbutton {
      color: #c8c8c8;
      text-decoration: underline;
      font-size: 16px;
    }
  }
  > .introjs-tooltiptext {
    padding: 10px 15px;
  }
  > .introjs-arrow {
    > .bottom {
      border-top-color: #fff;
    }
    > .top {
      border-bottom-color: #fff;
    }
    > .left {
      border-right-color: #fff;
    }
    > .right {
      border-left-color: #fff;
    }
  }
  > .introjs-tooltipbuttons {
    > .introjs-nextbutton {
      background: $primary;
      border-radius: 10px;
      color: #fff;
      text-shadow: none;
      border: 1px solid $primary;
    }
    > .introjs-prevbutton {
      border-radius: 10px;
      border: 1px solid $primary;
      background: #fff;
      color: $primary;
    }
    > .introjs-prevbutton,
    .introjs-nextbutton {
      outline: none;
      box-shadow: none;
      &:active,
      &:focus {
        outline: none;
        box-shadow: none;
      }
      &:hover {
        opacity: 0.9;
      }
    }
  }
}

.ReactModal__Content {
  // border: none;
}

.onBoardingModal,
.createSpaceModal {
  max-width: 35rem !important;
  @media (max-width: 768px) {
    max-width: 80vw !important;
  }
  @media (max-width: 480px) {
    max-width: 90vw !important;
  }
}

.onBoardingModal {
  > div:nth-child(1) {
    background-color: $primary;
    text-align: center;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
  }
  > div:nth-child(1) > p,
  div:nth-child(1) > button > svg {
    color: #fff;
  }
  > div:nth-child(2) > div {
    padding: 2rem;
    font-size: 1.5rem;
  }
}

.post-manage-dropdown[data-reach-menu-list] {
  padding: 7px 0;
  font-size: 1rem;
  > div {
    padding: 7px 10px !important;
    @media (max-width: 480px) {
      padding: 10px !important;
    }
  }
}

.legal {
  margin: 100px auto 0;
  max-width: 900px;
  h2 {
    margin: 40px 0 30px;
  }
  h3 {
    margin: 25px 0 18px;
  }
  h4 {
    margin: 20px 0 14px;
  }
}

.formDropdown,
.formTextArea,
.formInterests {
  padding: 0px 0 10px;
  width: 100%;
}

// add little check on form input if its value is validated (bootstrap style)
.form-control.is-valid,
.was-validated .form-control:valid {
  border-color: #28a745;
  padding-right: calc(1.5em + 0.75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
.was-validated textarea.form-control:valid,
textarea.form-control.is-valid {
  background-position: top calc(0.375em + 0.1875rem) right calc(0.375em + 0.1875rem);
}

[type='checkbox'],
[type='radio'] {
  margin-right: 5px;
  cursor: pointer;
}

[data-reach-menu-popover] {
  z-index: 11;
}

div ::-webkit-scrollbar {
  display: none;
}

.accordion-section {
  display: flex;
  flex-direction: column;
  background-color: #f6f7f9;
  border-radius: 10px;
  margin: 25px 0;
  padding: 25px;
}

.accordion-title {
  // background-color: #eee;
  // color: #444;
  color: #003054;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  transition: background-color 0.6s ease;
}

// .accordion-title:hover,
// .active {
//   background-color: #dae4ee;
// }

.accordion-icon {
  margin-left: auto;
  transition: transform 0.6s ease;
}

.rotate {
  transform: rotate(90deg);
}

.accordion-content {
  // background-color: white;
  overflow: hidden;
  color: #454545;
  transition: max-height 0.6s ease;
}

.accordion-text {
  font-weight: 400;
  font-size: 14px;
  // padding: 18px;
}

.searchContainer.special .ais-Panel.programs\.title {
  display: none;
}

.truncate {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}
