.commentCreate {
  border-radius: 10px !important;
  box-shadow: none !important;
  padding: 10px 0 8px;
  .inputBox {
    border-bottom: none !important;
    padding: 0px !important;

    @media (max-width: 500px) {
      padding: 20px 15px 15px;
    }
    .userImgContainer {
      width: 40px !important;
      height: 40px !important;
    }
    .userImg {
      width: 40px !important;
      height: 40px !important;
    }
  }
  .commentBtn {
    display: none;
    margin: 6px 0 0 50px;
  }
  .suggestionsContainer__highlighter {
    min-height: 33px !important;
  }
  .postInputMentions {
    padding: 0 20px 0 0px !important;
    background: #f2f3f4;
    border-radius: 10px;
  }
}

.commentUpdate {
  // min-width: 500px;
  .inputBox {
    border-bottom: none;
  }
  .postInputMentions {
    width: 100%;
    padding: 0px !important;
    margin-bottom: 10px;
    background: #f2f3f4;
    border-radius: 0px;
    .suggestionsContainer__control {
      background: #e2e2e2 !important;
      height: auto;
      border: none !important;
      min-height: 40px !important;
      padding: 5px 15px 5px 5px;
      border-radius: 20px;
      .suggestionsContainer__input {
        margin-bottom: 0px !important;
        font-weight: 400 !important;
        // font-size: 14px !important;
        font-size: 15px !important;
        line-height: 24px;
      }
    }
    textarea {
      min-height: 30px !important;
    }
  }
}
