.hookForm {
  .formContainer {
    @media (min-width: 480px) and (max-width: 991px) {
      display: flex;
    }
    display: block;
    .triggers {
      min-width: 150px;
      margin-right: 18px;
      margin-bottom: 20px;
      input {
        margin-right: 5px;
        &:hover {
          cursor: pointer;
        }
      }
    }
    h6 {
      text-decoration: underline;
    }
    .parameters {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
    }
  }
}
