@import 'pages/custom.scss';

.quill .ql-toolbar.ql-snow .ql-formats {
  margin-right: 14px !important;
}

.infoHtml {
  padding: 10px 0;
  // width: 70%;
  // margin: auto;

  @media (max-width: 991px) {
    // width: 85%;
  }

  @media (max-width: 600px) {
    // width: 100%;
  }
}

.infoHtml,
.ql-container {
  .rendered-quill-content {
    padding: 0px !important;

    .mention {
      background: none;
      color: $primary;
    }
  }

  p {
    font-weight: 400;
    margin-bottom: 7px;
    line-height: 24px !important;
    font-size: 16px !important;
  }

  a {
    color: #2987cd !important;
    cursor: pointer;
    img {
      margin: 10px;
      &:hover {
        opacity: 0.8;
      }
    }
  }

  ul {
    padding-inline-start: 0px !important;
  }

  ol {
    padding-left: 7px !important;
  }

  li {
    font-size: 17px;
    font-weight: 400;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .ql-video {
    width: 640px;
    height: 360px;
  }

  .ql-editor {
    line-height: 1.41;
    -moz-tab-size: 4;
    text-align: left;
    white-space: normal;
    word-wrap: break-word;
    font-family: 'roboto', 'arial', 'sans serif';

    &.ql-blank:before {
      font-size: 16px;
      opacity: 0.8;
    }
  }

  pre {
    background: rgba(0, 0, 0, 0.05);
    padding: 20px;
    white-space: pre-wrap;
    font-family: Monaco, 'Courier New', Courier, monospace;
    font-size: 16px;
    margin: 0;
    overflow: auto;
    color: $gray-dark;
    word-wrap: break-word;
  }

  blockquote {
    --x-height-multiplier: 0.342;
    --baseline-multiplier: 0.22;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    font-size: 24px;
    line-height: 1.48;
    letter-spacing: -0.012em;
    quotes: '\201C''\201D''\2018''\2019';
  }

  blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 2em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }

  blockquote:after {
    color: #ccc;
    content: close-quote;
    font-size: 2em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }

  h1 {
    font-style: normal;
    font-weight: 500;
    line-height: 1.25;
    font-size: 1.8em !important;
    letter-spacing: 0;
    margin-bottom: 25px;
  }

  h2 {
    --x-height-multiplier: 0.342;
    --baseline-multiplier: 0.22;
    letter-spacing: -0.02em;
    font-style: normal;
    letter-spacing: 0;
    font-size: 1.65em !important;
    line-height: 1.15;
    letter-spacing: -0.015em;
    margin-bottom: 20px;
  }

  h3 {
    --x-height-multiplier: 0.342;
    --baseline-multiplier: 0.22;
    letter-spacing: -0.02em;
    font-style: normal;
    letter-spacing: 0;
    font-size: 1.42em !important;
    line-height: 1.22;
    letter-spacing: -0.012em;
    margin-bottom: 12px;
  }

  h1,
  h2,
  h3 {
    // font-weight: 600;

    strong {
      font-weight: 700;
    }
  }

  .ql-align-center img {
    margin: auto;
  }
}
