@import 'pages/custom.scss';

.infoInterests {
  .interest {
    &.toggle {
      display: none;
    }
  }

  .less,
  .more {
    color: $primary;
    background: transparent;
    border: 1px solid $primary;
    padding: 2px 5px;
    cursor: pointer;
    height: fit-content;

    &:hover {
      color: white;
      background: $primary;
    }
  }

  .less {
    display: none;
  }
}
