.needWorkers {
  padding-top: 15px;
  .workers {
    $diametre: 35px;
    /* display: flex; */
    align-items: center;

    .imgList {
      margin-left: 5px;
      display: inline-flex;
    }
    > span:nth-child(1) {
      margin-right: 3px;
    }

    .userImg {
      width: $diametre;
      height: $diametre;
      border-radius: 50%;
      margin: 7px 0px 7px 7px;
      object-fit: cover;

      &:hover {
        opacity: 0.9;
      }
    }

    .moreMembers {
      width: $diametre;
      height: $diametre;
      background: #2987cd;
      color: white;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      display: inline-flex;
      margin-left: 8px;
      align-self: center;
      &:hover {
        opacity: 0.9;
        cursor: pointer;
      }
    }
    .close.delete {
      float: none;
      margin: 0 6px 0 4px;
      color: black;
    }
  }
}
