.needContent {
  &--header {
    .needOwnerAction {
      color: lightgrey;

      svg:hover {
        color: grey;
        cursor: pointer;
      }
    }
  }

  .needProject {
    margin: 10px 0 0;
    font-size: 17px;

    a {
      font-size: 17px;

      &:hover {
        opacity: 0.8;
      }

      svg {
        font-size: 15px;
      }
    }
  }

  &--main {
    .infoHtml {
      padding: 25px 0 15px;
    }
    .needFeed {
      .feed {
        padding: 0;
      }
      h6 {
        padding-top: 20px;
      }
    }
  }
}
